:host ::ng-deep .member-tabs .p-tablist-tab-list {
  border-bottom: 2px solid var(--p-surface-200);
}

:host ::ng-deep .member-tabs .p-tab.p-tab-active {
  border-color: var(--p-primary-color);
  color: var(--p-primary-color);
}

:host ::ng-deep .member-tabs .p-tabpanel {
  padding-top: 1.5rem;
}
