<div class="login-wrapper">
  <!-- Left side: Feature carousel -->
  <div class="left-panel flex flex-col">
    <p-carousel
      [value]="slides"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="true"
      [autoplayInterval]="5000"
      [showNavigators]="false"
    >
      <ng-template let-slide #item>
        <div class="slide">
          <div class="slide-icon-wrapper">
            <!--            <i [class]="'pi ' + slide.icon + ' slide-icon'"></i>-->
            <img
              [src]="slide.images + '.svg'"
              alt="{{ slide.titleKey | translate }}"
              class="slide-icon"
            />
          </div>
          <h2 class="slide-title">{{ slide.titleKey | translate }}</h2>
          <p class="slide-desc">{{ slide.descKey | translate }}</p>
        </div>
      </ng-template>
    </p-carousel>
    <a href="https://storyset.com/people">People illustrations by Storyset</a>
  </div>

  <!-- Right side: Login -->
  <div class="right-panel">
    <div class="lang-selector">
      <app-language-selector></app-language-selector>
    </div>

    <div class="login-content">
      <img src="../../../../../assets/images/logo.svg" alt="OptimCE" class="login-logo" />
      <h1 class="login-title">{{ 'TITLE' | translate }}</h1>

      <div class="divider"></div>

      <p-button
        label="{{ 'LOGIN.LOGIN' | translate }}"
        icon="pi pi-sign-in"
        (onClick)="login()"
        styleClass="login-btn"
      ></p-button>
    </div>
  </div>
</div>
