<p-table
  #dt
  [value]="metersPartialList()"
  [tableStyle]="{ 'min-width': '50rem' }"
  [loading]="loading()"
  [lazy]="true"
  (onLazyLoad)="lazyLoadMeter($event)"
  [rows]="pagination().limit"
  [totalRecords]="pagination().total"
  [first]="(pagination().page - 1) * pagination().limit"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="currentPageReportTemplate"
  (onPage)="pageChange($event)"
  [paginator]="pagination().total_pages > 1"
>
  <ng-template #caption>
    <div class="flex justify-content-between">
      <p-button
        [outlined]="true"
        icon="pi pi-filter-slash"
        label="{{ 'SHARING_OPERATION.VIEW.METER.CLEAR_FILTER_BUTTON_LABEL' | translate }}"
        (onClick)="clear(dt)"
      />
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th>
        <div class="flex items-center text-base px-3">
          {{ 'SHARING_OPERATION.VIEW.ADDRESS_LABEL' | translate }} <br />
          <p-columnFilter
            field="address"
            display="{{ 'SHARING_OPERATION.VIEW.ADDRESS_LABEL' | translate }}"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
            [showClearButton]="false"
          >
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <div class="grid">
                <div class="flex">
                  <label for="streetName">{{
                      'SHARING_OPERATION.VIEW.ADDRESS.STREET_NAME_LABEL' | translate
                    }}</label>
                  <input
                    pInputText
                    id="streetName"
                    [(ngModel)]="addressFilter.streetName"
                    placeholder="{{
                            'SHARING_OPERATION.VIEW.ADDRESS.PLACEHOLDER.STREET_NAME_LABEL'
                              | translate
                          }}"
                  />
                </div>
                <div class="flex">
                  <label for="postcode">{{
                      'SHARING_OPERATION.VIEW.ADDRESS.POSTAL_CODE_LABEL' | translate
                    }}</label>
                  <input
                    pInputText
                    id="postcode"
                    [(ngModel)]="addressFilter.postcode"
                    placeholder="{{
                            'SHARING_OPERATION.VIEW.ADDRESS.PLACEHOLDER.POSTAL_CODE_LABEL'
                              | translate
                          }}"
                  />
                </div>
                <div class="flex">
                  <label for="city">{{
                      'SHARING_OPERATION.VIEW.ADDRESS.CITY_LABEL' | translate
                    }}</label>
                  <input
                    pInputText
                    id="city"
                    [(ngModel)]="addressFilter.cityName"
                    placeholder="{{
                            'SHARING_OPERATION.VIEW.ADDRESS.PLACEHOLDER.CITY_LABEL' | translate
                          }}"
                  />
                </div>
              </div>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex items-center text-base px-3">
          {{ 'SHARING_OPERATION.VIEW.METER.INFORMATIONS.EAN_LABEL' | translate }} <br />
          <p-columnFilter
            type="text"
            field="EAN"
            display="{{ 'SHARING_OPERATION.VIEW.METER.INFORMATIONS.EAN_LABEL' | translate }}"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex items-center text-base px-3">
          {{ 'SHARING_OPERATION.VIEW.METER.INFORMATIONS.METER_NUMBER_LABEL' | translate }}
          <br />
          <p-columnFilter
            type="text"
            field="meter_number"
            display="{{
                    'SHARING_OPERATION.VIEW.METER.INFORMATIONS.METER_NUMBER_LABEL' | translate
                  }}"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          ></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="flex items-center text-base px-3">
          {{ 'SHARING_OPERATION.VIEW.METER.STATUS_LABEL' | translate }} <br />
          <p-columnFilter
            field="statut"
            display="menu"
            [showMatchModes]="false"
            [showOperator]="false"
            [showAddButton]="false"
          >
            <ng-template pTemplate="header">
                    <span class="text-sm px-3">{{
                        'SHARING_OPERATION.VIEW.METER.FILTER_BY_STATUS_LABEL' | translate
                      }}</span>
            </ng-template>
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-select
                [ngModel]="value"
                [options]="statutCategory"
                (onChange)="filter($event.value)"
                placeholder="{{
                        'SHARING_OPERATION.VIEW.METER.SELECT_A_STATUS_PLACEHOLDER' | translate
                      }}"
                [showClear]="true"
              >
                <ng-template let-option pTemplate="item">
                  @switch (option.value) {
                    @case (MeterStatus.ACTIVE) {
                      <p-tag
                        class="text-sm"
                        severity="success"
                        value="{{
                                'SHARING_OPERATION.VIEW.METER.STATUS.ACTIVATED_LABEL' | translate
                              }}"
                      ></p-tag>
                    }
                    @case (MeterStatus.INACTIVE) {
                      <p-tag
                        class="text-sm"
                        severity="danger"
                        value="{{
                                'SHARING_OPERATION.VIEW.METER.STATUS.DEACTIVATED_LABEL' | translate
                              }}"
                      ></p-tag>
                    }
                    @case (MeterStatus.WAITING_GRD) {
                      <p-tag
                        class="text-sm"
                        severity="danger"
                        value="{{
                                'SHARING_OPERATION.VIEW.METER.STATUS.WAITING_FOR_GRD_ACCEPTANCE_LABEL'
                                  | translate
                              }}"
                      ></p-tag>
                    }
                    @case (MeterStatus.WAITING_MANAGER) {
                      <p-tag
                        class="text-sm"
                        severity="danger"
                        value="{{
                                'SHARING_OPERATION.VIEW.METER.STATUS.WAITING_FOR_MANAGER_ACCEPTANCE_LABEL'
                                  | translate
                              }}"
                      ></p-tag>
                    }
                  }
                </ng-template>
                <ng-template pTemplate="selectedItem">
                  @switch (value) {
                    @case (MeterStatus.ACTIVE) {
                      <p-tag
                        class="text-sm"
                        severity="success"
                        value="{{
                                'SHARING_OPERATION.VIEW.METER.STATUS.ACTIVATED_LABEL' | translate
                              }}"
                      ></p-tag>
                    }
                    @case (MeterStatus.INACTIVE) {
                      <p-tag
                        class="text-sm"
                        severity="danger"
                        value="{{
                                'SHARING_OPERATION.VIEW.METER.STATUS.DEACTIVATED_LABEL' | translate
                              }}"
                      ></p-tag>
                    }
                    @case (MeterStatus.WAITING_GRD) {
                      <p-tag
                        class="text-sm"
                        severity="danger"
                        value="{{
                                'SHARING_OPERATION.VIEW.METER.STATUS.WAITING_FOR_GRD_ACCEPTANCE_LABEL'
                                  | translate
                              }}"
                      ></p-tag>
                    }
                    @case (MeterStatus.WAITING_MANAGER) {
                      <p-tag
                        class="text-sm"
                        severity="danger"
                        value="{{
                                'SHARING_OPERATION.VIEW.METER.STATUS.WAITING_FOR_MANAGER_ACCEPTANCE_LABEL'
                                  | translate
                              }}"
                      ></p-tag>
                    }
                  }
                </ng-template>
              </p-select>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th class="flex items-center text-base px-3">
        Actions <br />
        <wbr />
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-meter>
    <tr (click)="onRowClick(meter)" style="cursor: pointer" class="hover-flex flex-wrap">
      <td class="text-sm px-3 py-2" [innerHTML]="meter.address | address"></td>
      <td class="text-sm px-3 py-2">{{ meter.EAN }}</td>
      <td class="text-sm px-3 py-2">{{ meter.meterNumber }}</td>
      <td class="text-sm px-3 py-2">
        @switch (meter.status) {
          @case (MeterStatus.ACTIVE) {
            <p-tag
              class="text-sm px-3 py-2"
              severity="success"
              value="{{ 'SHARING_OPERATION.VIEW.METER.STATUS.ACTIVATED_LABEL' | translate }}"
            ></p-tag>
          }
          @case (MeterStatus.INACTIVE) {
            <p-tag
              class="text-sm px-3 py-2"
              severity="danger"
              value="{{
                      'SHARING_OPERATION.VIEW.METER.STATUS.DEACTIVATED_LABEL' | translate
                    }}"
            ></p-tag>
          }
          @case (MeterStatus.WAITING_GRD) {
            <p-tag
              class="text-sm px-3 py-2"
              severity="danger"
              value="{{
                      'SHARING_OPERATION.VIEW.METER.STATUS.WAITING_FOR_GRD_ACCEPTANCE_LABEL'
                        | translate
                    }}"
            ></p-tag>
          }
          @case (MeterStatus.WAITING_MANAGER) {
            <p-tag
              class="text-sm px-3 py-2"
              severity="danger"
              value="{{
                      'SHARING_OPERATION.VIEW.METER.STATUS.WAITING_FOR_MANAGER_ACCEPTANCE_LABEL'
                        | translate
                    }}"
            ></p-tag>
          }
        }
      </td>
      <td>
        <p-toast />
        <p-confirmpopup>
          <ng-template pTemplate="content" let-message>
            <div
              class="flex flex-column items-center w-full gap-3 border-bottom-1 surface-border p-3 mb-3"
            >
              <h3 class="font-medium text-lg">{{ textChangeStatusMeter }}</h3>
              <p-date-picker
                id="dateStartMeter"
                [(ngModel)]="dateStartMeter"
                [showIcon]="true"
                [showOnFocus]="true"
                [minDate]="minDate"
                [inline]="false"
                dateFormat="dd/mm/yy"
                appendTo="body"
              ></p-date-picker>
            </div>
          </ng-template>
        </p-confirmpopup>
        <p-toast />
        <div class="flex flex-wrap gap-1">
          <div class="flex">
            @if (meter.status === MeterStatus.ACTIVE) {
              <p-button
                pRipple
                label="{{
                        'SHARING_OPERATION.VIEW.METER.PUT_TO_WAITING_LIST_BUTTON_LABEL' | translate
                      }}"
                severity="warn"
                (onClick)="openMeterChangeStatusPopup($event, meter, 3)"
                icon="pi pi-clock"
                size="small"
              ></p-button>
            } @else {
              <p-button
                pRipple
                label="{{ 'SHARING_OPERATION.VIEW.METER.APPROVE_BUTTON_LABEL' | translate }}"
                severity="success"
                (onClick)="openMeterChangeStatusPopup($event, meter, 1)"
                icon="pi pi-check"
                size="small"
              ></p-button>
            }
          </div>
          <div class="flex">
            <p-button
              pRipple
              label="{{ 'SHARING_OPERATION.VIEW.METER.DELETE_BUTTON_LABEL' | translate }}"
              severity="danger"
              (onClick)="openMeterChangeStatusPopup($event, meter, 2)"
              icon="pi pi-times"
              size="small"
            ></p-button>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="6" style="text-align: center" class="text-base">
        {{ 'SHARING_OPERATION.VIEW.METER.NO_METERS_FOUND_LABEL' | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>
