<div class="flex flex-wrap -mx-2 mb-3">
  <div class="w-6/12 flex items-center">
    <i class="pi pi-key text-primary mr-1 !text-2xl"></i>
    <h2 class="mt-0 mb-0 ml-2 text-lg font-medium">{{ "KEY.LIST.TITLE" | translate }}</h2>
  </div>
  <div class="w-6/12 text-end">
    <p-toast />
    <p-split-button label="{{ 'KEY.LIST.ADD_BUTTON_LABEL' | translate }}" icon="pi pi-plus" (onClick)="addKey()" [model]="optionsSplitButton"> </p-split-button>
  </div>
</div>

<p-table
  #dt
  [value]="keysList()"
  [tableStyle]="{ 'min-width': '50rem' }"
  (onLazyLoad)="lazyLoadKeys($event)"
  [rows]="paginated.limit"
  [totalRecords]="paginated.total"
  [first]="(paginated.page - 1) * paginated.limit"
  [currentPageReportTemplate]="currentPageReportTemplate"
  (onPage)="pageChange($event)"
  [lazy]="lazy">
  <ng-template #caption>
    <div class="flex justify-between">
      <p-button
        [outlined]="true"
        icon="pi pi-filter-slash"
        label="{{ 'KEY.LIST.ERASE_FILTERS_BUTTON_LABEL' | translate }}"
        (onClick)="clear(dt)"
      ></p-button>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th [pSortableColumn]="'nom'" class="text-base px-3">
        {{ "KEY.LIST.NAME_LABEL" | translate }}
        <p-sortIcon [field]="'nom'"></p-sortIcon>
        <br />
        <p-columnFilter
          type="text"
          field="nom"
          display="{{ 'KEY.LIST.NAME_LABEL' | translate }}"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
        ></p-columnFilter>
      </th>
      <th [pSortableColumn]="'description'" class="text-base px-3">
        {{ "KEY.LIST.DESCRIPTION_LABEL" | translate }}
        <p-sortIcon [field]="'description'"></p-sortIcon>
        <br />
        <p-columnFilter
          type="text"
          field="description"
          display="{{ 'KEY.LIST.DESCRIPTION_LABEL' | translate }}"
          [showMatchModes]="false"
          [showOperator]="false"
          [showAddButton]="false"
        ></p-columnFilter>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-key>
    <tr routerLink="/key/{{ key.id }}" class="hover-flex flex-wrap -mx-2" style="cursor: pointer">
      <td class="text-sm px-3 py-2">{{ key.name }}</td>
      <td class="text-sm px-3 py-2">{{ key.description }}</td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="2">{{'KEY.LIST.EMPTY' | translate}}</td>
    </tr>
  </ng-template>
</p-table>
