<div class="mt-6">
  <p-tabs data-testid="profile-tabs__tabs" [value]="0" styleClass="profile-tabs">
    <p-tablist>
      <p-tab data-testid="profile-tabs__tab--meters" [value]="0">{{
        'PROFILE.TABS.HEADERS.METERS' | translate
      }}</p-tab>
      <p-tab data-testid="profile-tabs__tab--banking" [value]="1">{{
        'PROFILE.TABS.HEADERS.BANKING_INFORMATIONS' | translate
      }}</p-tab>
      <p-tab data-testid="profile-tabs__tab--documents" [value]="2">{{
        'PROFILE.TABS.HEADERS.DOCUMENTS' | translate
      }}</p-tab>
      <p-tab data-testid="profile-tabs__tab--representations" [value]="3">{{
        'PROFILE.TABS.HEADERS.REPRESENTATIONS' | translate
      }}</p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel [value]="0">
        <app-meters-user></app-meters-user>
      </p-tabpanel>

      <p-tabpanel [value]="1">
        <app-banking-info-user [user]="user()"></app-banking-info-user>
      </p-tabpanel>

      <p-tabpanel [value]="2">
        <app-documents-user></app-documents-user>
      </p-tabpanel>

      <p-tabpanel [value]="3">
        <app-representations-user></app-representations-user>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
