<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  <div data-testid="member-view-manager-tab__field--nrn">
    <span class="field-label">
      {{ 'MEMBER.VIEW.MANAGER.SOCIAL_SECURITY_NUMBER_LABEL' | translate }}
    </span>
    @if (member()?.manager?.NRN) {
      <span class="field-value">{{ member()!.manager!.NRN }}</span>
    } @else {
      <span class="field-empty">--</span>
    }
  </div>
  <div data-testid="member-view-manager-tab__field--surname">
    <span class="field-label">
      {{ 'MEMBER.VIEW.MANAGER.SURNAME_LABEL' | translate }}
    </span>
    @if (member()?.manager?.surname) {
      <span class="field-value">{{ member()!.manager!.surname }}</span>
    } @else {
      <span class="field-empty">--</span>
    }
  </div>
  <div data-testid="member-view-manager-tab__field--first-name">
    <span class="field-label">
      {{ 'MEMBER.VIEW.MANAGER.FIRST_NAME_LABEL' | translate }}
    </span>
    @if (member()?.manager?.name) {
      <span class="field-value">{{ member()!.manager!.name }}</span>
    } @else {
      <span class="field-empty">--</span>
    }
  </div>
  <div data-testid="member-view-manager-tab__field--email">
    <span class="field-label">
      {{ 'MEMBER.VIEW.MANAGER.EMAIL_LABEL' | translate }}
    </span>
    @if (member()?.manager?.email) {
      <span class="field-value">{{ member()!.manager!.email }}</span>
    } @else {
      <span class="field-empty">--</span>
    }
  </div>
  <div data-testid="member-view-manager-tab__field--phone">
    <span class="field-label">
      {{ 'MEMBER.VIEW.MANAGER.PHONE_NUMBER_LABEL' | translate }}
    </span>
    @if (member()?.manager?.phone_number) {
      <span class="field-value">{{ member()!.manager!.phone_number }}</span>
    } @else {
      <span class="field-empty">--</span>
    }
  </div>
</div>
