<div class="flex flex-wrap -mx-2 mb-3">
  <div class="w-6/12 flex items-center">
    <span class="pi pi-user x-3 mr-1 text-xl text-primary"></span>
    <h2 class="mt-0 mb-0 ml-2 text-lg font-medium">
      {{ 'MANAGERS_COMMUNITY_LIST.TITLE' | translate }}
    </h2>
  </div>
</div>

<p-table
  #dt
  [value]="users()"
  [tableStyle]="{ 'min-width': '50rem' }"
  [lazy]="true"
  (onLazyLoad)="lazyLoadUsers($event)"
>
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'name'" class="text-base px-3">
        {{ 'MANAGERS_COMMUNITY_LIST.HEADERS.NAME' | translate }}
        <p-sortIcon [field]="'name'"></p-sortIcon>
      </th>
      <th class="text-base px-3">
        {{ 'MANAGERS_COMMUNITY_LIST.HEADERS.EMAIL' | translate }}
      </th>
      <th class="text-base px-3">
        {{ 'MANAGERS_COMMUNITY_LIST.HEADERS.PHONE' | translate }}
      </th>
      <th [pSortableColumn]="'role'" class="text-base px-3">
        {{ 'MANAGERS_COMMUNITY_LIST.HEADERS.ROLE' | translate }}
        <p-sortIcon [field]="'role'"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td class="text-sm px-3 py-2">
        {{
          user.name
            ? user.firstName
              ? user.firstName + ' ' + user.name
              : user.name
            : user.firstName
              ? user.firstName
              : '/'
        }}
      </td>
      <td class="text-sm px-3 py-2">{{ user.mail }}</td>
      <td class="text-sm px-3 py-2">{{ user.phoneNumber ? user.phoneNumber : '/' }}</td>

      <td class="text-sm px-3 py-2">{{ user.role | role }}</td>
    </tr>
  </ng-template>
</p-table>
