<div class="container mx-auto my-auto">
  @if (isLoading()) {
    <p-progressSpinner></p-progressSpinner>
  } @else if (sharingOperation(); as op) {
    <p-drawer
      [visible]="sidebarHistoryKey()"
      (visibleChange)="sidebarHistoryKey.set($event)"
      position="right"
      styleClass="!w-1/2"
    >
      <h3 class="font-medium text-lg pb-2">
        {{ 'SHARING_OPERATION.VIEW.HISTORY_KEY.KEY_HISTORY_TITLE' | translate }}
      </h3>
      <!--Liste trois colonnes : date deb, date fin, clé -->
      <div>
        <p-table
          #dtHistory
          [value]="sharingOperationKeys()"
          [lazy]="true"
          [loading]="loadingSharingOperationKeys()"
          (onLazyLoad)="onLazyLoadSharingOperationKey($event)"
          [rows]="paginationSharingOperationKey().limit"
          [totalRecords]="paginationSharingOperationKey().total"
          [first]="
            (paginationSharingOperationKey().page - 1) * paginationSharingOperationKey().limit
          "
          (onPage)="onPageSharingOperationKey($event)"
          [paginator]="paginationSharingOperationKey().total_pages > 1"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="text-base px-3">
                {{ 'SHARING_OPERATION.VIEW.HISTORY_KEY.START_DATE_LABEL' | translate }}
              </th>
              <th class="text-base px-3">
                {{ 'SHARING_OPERATION.VIEW.HISTORY_KEY.END_DATE_LABEL' | translate }}
              </th>
              <th class="text-base px-3">
                {{ 'SHARING_OPERATION.VIEW.HISTORY_KEY.KEY_LABEL' | translate }}
              </th>
              <th class="text-base px-3">
                {{ 'SHARING_OPERATION.VIEW.HISTORY_KEY.STATUS_LABEL' | translate }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-historyKey>
            <tr class="hover-flex flex-wrap">
              <td class="text-sm px-3 py-2">{{ historyKey.start_date | date: 'dd/MM/yyyy' }}</td>
              <td class="text-sm px-3 py-2">{{ historyKey.end_date | date: 'dd/MM/yyyy' }}</td>
              <td class="text-sm px-3 py-2">{{ historyKey.key.name }}</td>
              <td class="text-sm px-3 py-2">
                @switch (historyKey.status) {
                  @case (KeyStatus.APPROVED) {
                    <p-tag
                      value="{{ 'SHARING_OPERATION.VIEW.HISTORY_KEY.APPROVED_LABEL' | translate }}"
                      severity="success"
                      class="text-sm px-3 py-2"
                    />
                  }
                  @case (KeyStatus.REJECTED) {
                    <p-tag
                      value="{{ 'SHARING_OPERATION.VIEW.HISTORY_KEY.DENIED_LABEL' | translate }}"
                      severity="danger"
                      class="text-sm px-3 py-2"
                    />
                  }
                }
              </td>
            </tr>
          </ng-template>
          <ng-template #emptyMessage pTemplate="emptymessage">
            <tr>
              <td colspan="6" class="text-center text-base">
                {{
                  'SHARING_OPERATION.VIEW.HISTORY_KEY.NO_HISTORY_KEY_AVAILABLE_LABEL' | translate
                }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-drawer>

    <div>
      <div
        class="flex flex-wrap -mx-2 pb-3 pt-3 items-center justify-between flex-col lg:flex-row gap-2"
      >
        <app-header-page
          icon="pi pi-building"
          [text]="'SHARING_OPERATION.VIEW.SHARING_OPERATION_TITLE' | translate"
        ></app-header-page>

        <p-button
          pRipple
          label="{{ 'SHARING_OPERATION.VIEW.EXPORT_EXCEL_CWAPE_FORMAT_BUTTON_LABEL' | translate }}"
          severity="success"
          icon="pi pi-file-export"
          (click)="exportExcelCWAPe()"
        ></p-button>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 mb-3 gap-2">
        <div class="flex">
          <p-card class="w-full grow shadow-lg/30! h-full">
            <div class="text-center">
              <h3 class="font-medium text-lg">
                {{ 'SHARING_OPERATION.VIEW.NAME_LABEL' | translate }}
              </h3>
              <span class="text-sm">{{ op.name }}</span>
            </div>
            <div class="text-center mt-3">
              <h3 class="font-medium text-lg">
                {{ 'SHARING_OPERATION.VIEW.TYPE_LABEL' | translate }}
              </h3>
              <span class="text-sm">{{ op.type | sharingOperationType }}</span>
            </div>
          </p-card>
        </div>

        <div class="flex">
          <p-card class="w-full grow shadow-lg/30!">
            <ng-template pTemplate="content">
              <div class="text-center">
                <h3 class="font-medium text-lg">
                  {{ 'SHARING_OPERATION.VIEW.KEY.ACTUAL_KEY_LABEL' | translate }}
                </h3>
                @if (op.key && op.key.key) {
                  <a class="text-sm" routerLink="/key/{{ op.key.key.id }}">
                    {{ op.key.key.name }}
                  </a>
                } @else {
                  @if (op.key_waiting_approval) {
                    <div class="flex flex-col">
                      <span class="text-sm">{{
                        'SHARING_OPERATION.VIEW.KEY.WAITING_APPROVAL_KEY_LABEL' | translate
                      }}</span>
                      <span class="font-semibold text-sm">{{
                        op.key_waiting_approval.key.name
                      }}</span>
                      <div class="flex flex-row space-x-2 justify-center">
                        <p-button
                          icon="pi pi-check"
                          severity="success"
                          label="{{ 'SHARING_OPERATION.VIEW.KEY.APPROVE_KEY' | translate }}"
                          (click)="openDateApprovedKey($event)"
                        ></p-button>
                        <p-button
                          icon="pi pi-times"
                          severity="danger"
                          label="{{ 'SHARING_OPERATION.VIEW.KEY.REJECT_KEY' | translate }}"
                          (click)="revokeWaitingKey()"
                        ></p-button>
                      </div>
                    </div>
                  } @else {
                    <span class="text-sm">{{
                      'SHARING_OPERATION.VIEW.KEY.NO_ACTUAL_KEY_LABEL' | translate
                    }}</span>
                  }
                }
              </div>
              <div class="text-center mt-3">
                <p-button
                  pRipple
                  icon="pi pi-pencil"
                  severity="warn"
                  label="{{ 'SHARING_OPERATION.VIEW.KEY.CHOOSE_KEY_BUTTON_LABEL' | translate }}"
                  (click)="editKey()"
                ></p-button>
                <p-button
                  pRipple
                  icon="pi pi-history"
                  severity="info"
                  class="ms-2"
                  (click)="sidebarHistoryKey.set(true)"
                ></p-button>
                <p-button
                  pRipple
                  icon="pi pi-plus"
                  severity="success"
                  class="ms-2"
                  label="{{ 'SHARING_OPERATION.VIEW.KEY.CREATE_KEY_BUTTON_LABEL' | translate }}"
                  (click)="newKey()"
                ></p-button>
              </div>
            </ng-template>
          </p-card>
        </div>
      </div>
      <div
        class="flex flex-wrap -mx-2 pb-3 pt-3 items-center justify-between flex-col lg:flex-row gap-2"
      >
        <app-header-page
          icon="pi pi-gauge"
          [text]="'SHARING_OPERATION.VIEW.METER.METERS_TITLE' | translate"
        ></app-header-page>
        <p-button
          pRipple
          label="{{ 'SHARING_OPERATION.VIEW.METER.ADD_METER_BUTTON_LABEL' | translate }}"
          icon="pi pi-plus"
          severity="success"
          (click)="addMeter()"
        ></p-button>
      </div>
      <p-tabs [value]="1">
        <p-tablist>
          <p-tab [value]="0">
            {{ 'SHARING_OPERATION.VIEW.METER.HEADERS.PAST' | translate }}
          </p-tab>
          <p-tab [value]="1">
            {{ 'SHARING_OPERATION.VIEW.METER.HEADERS.NOW' | translate }}
          </p-tab>
          <p-tab [value]="2">
            {{ 'SHARING_OPERATION.VIEW.METER.HEADERS.FUTURE' | translate }}
          </p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel [value]="0">
            <app-sharing-operation-meters-list
              [id_sharing]="id()"
              [type]="SharingOperationMetersQueryType.PAST"
            ></app-sharing-operation-meters-list>
          </p-tabpanel>
          <p-tabpanel [value]="1">
            <app-sharing-operation-meters-list
              [id_sharing]="id()"
              [type]="SharingOperationMetersQueryType.NOW"
            ></app-sharing-operation-meters-list>
          </p-tabpanel>
          <p-tabpanel [value]="2">
            <app-sharing-operation-meters-list
              [id_sharing]="id()"
              [type]="SharingOperationMetersQueryType.FUTURE"
            ></app-sharing-operation-meters-list>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>

      <app-header-page
        icon="pi pi-chart-bar"
        [text]="
          'SHARING_OPERATION.VIEW.CONSUMPTION_MONITORING.CONSUMPTION_MONITORING_TITLE' | translate
        "
      ></app-header-page>
      <form [formGroup]="formChart" class="flex mb-4" (submit)="loadChart()">
        <div class="grid me-2">
          <label for="dateDeb">{{
            'SHARING_OPERATION.VIEW.CONSUMPTION_MONITORING.START_DATE_LABEL' | translate
          }}</label>
          <p-date-picker
            id="dateDeb"
            formControlName="dateDeb"
            dateFormat="dd/mm/yy"
            [firstDayOfWeek]="1"
          ></p-date-picker>
          <app-error-handler controlName="dateDeb"></app-error-handler>
        </div>
        <div class="grid me-2">
          <label for="dateFin">{{
            'SHARING_OPERATION.VIEW.CONSUMPTION_MONITORING.END_DATE_LABEL' | translate
          }}</label>
          <p-date-picker
            id="dateFin"
            formControlName="dateFin"
            dateFormat="dd/mm/yy"
            [firstDayOfWeek]="1"
          ></p-date-picker>
          <app-error-handler controlName="dateFin"></app-error-handler>
        </div>
        <div class="content-end">
          <p-button
            pRipple
            label="{{
              'SHARING_OPERATION.VIEW.CONSUMPTION_MONITORING.SEARCH_BUTTON_LABEL' | translate
            }}"
            icon="pi pi-search"
            severity="info"
            type="submit"
          ></p-button>
        </div>
      </form>
      <div class="card">
        <p-chart type="bar" [data]="data()" [options]="options" />
      </div>
      @if (displayDownloadButton()) {
        <div class="flex flex-wrap text-center mt-4">
          <p-button
            pRipple
            label="{{
              'SHARING_OPERATION.VIEW.CONSUMPTION_MONITORING.DOWNLOAD_BUTTON_LABEL' | translate
            }}"
            icon="pi pi-file-export"
            severity="success"
            (click)="downloadTotalConsumption()"
          ></p-button>
        </div>
      }

      <div class="w-3/4 mx-auto">
        <form [formGroup]="formGroup" (ngSubmit)="addConsumptionInformations()">
          <div class="card">
            <input
              type="file"
              id="fileInput"
              (change)="onFileSelected($event)"
              class="file-input"
            />
            <label for="fileInput" class="file-upload-message">
              <div
                class="file-upload"
                (dragover)="onDragOver($event)"
                (dragleave)="onDragLeave($event)"
                (drop)="onDrop($event)"
                [class.dragging]="dragging()"
              >
                <p>
                  {{
                    'SHARING_OPERATION.VIEW.CONSUMPTION_MONITORING.SELECT_FILE_DRAG_N_DROP_LABEL'
                      | translate
                  }}
                </p>
              </div>
            </label>
          </div>
          @if (fileConsumption()) {
            <div>
              <p>
                {{
                  'SHARING_OPERATION.VIEW.CONSUMPTION_MONITORING.SELECTED_FILE_LABEL' | translate
                }}
                : {{ fileConsumption()!.name }}
              </p>
            </div>
          }
          <div class="flex flex-wrap flex-col mt-2 content-center">
            <app-error-handler controlName="fileConsumption"></app-error-handler>
            <p-button
              type="submit"
              icon="pi pi-upload"
              severity="success"
              label="{{
                'SHARING_OPERATION.VIEW.CONSUMPTION_MONITORING.UPLOAD_BUTTON_LABEL' | translate
              }}"
            ></p-button>
          </div>
        </form>
      </div>
    </div>
  }
</div>
