<div class="container mx-auto my-auto">
  <div class="flex flex-wrap -mx-2">
    <div class="w-6/12 flex items-center space-x-2">
      <span class="pi pi-briefcase text-2xl! text-green-500!"></span>
      <h2 class="text-xl! font-medium">{{ 'COMMUNITY.LIST.TITLE' | translate }}</h2>
    </div>
    <div class="w-6/12 text-end">
      <p-button
        type="button"
        label="{{ 'COMMUNITY.LIST.CREATE_COMMUNITY' | translate }}"
        (click)="createCommunity()"
      >
      </p-button>
    </div>
  </div>
  <p-table
    #dt
    [value]="communities()"
    [tableStyle]="{ 'min-width': '50rem', 'min-height': '50px' }"
    [lazy]="true"
    (onLazyLoad)="lazyLoadCommunities($event)"
  >
    <ng-template #header>
      <tr>
        <th [pSortableColumn]="'name'" class="text-base px-3">
          {{ 'COMMUNITY.LIST.HEADERS.NAME' | translate }}
          <p-sortIcon [field]="'name'"></p-sortIcon>
        </th>
        <th class="text-base px-3">
          {{ 'COMMUNITY.LIST.HEADERS.ROLE' | translate }}
        </th>
        <th class="text-base px-3 text-center">
          {{ 'COMMUNITY.LIST.HEADERS.ACTIVATE' | translate }}
        </th>
        <th class="text-base px-3 text-center">
          {{ 'COMMUNITY.LIST.HEADERS.ACTIONS' | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-community>
      <tr class="hover-flex flex-wrap -mx-2" style="{}">
        <td class="text-sm px-3 py-2">{{ community.name }}</td>
        <td class="text-sm px-3 py-2">{{ community.role }}</td>
        <td class="text-sm px-3 py-2 text-center">
          @if (userContextService.activeCommunityId() === community.auth_community_id) {
            <p-tag value="{{ 'COMMUNITY.LIST.ACTIVATED' | translate }}" severity="success"></p-tag>
          } @else {
            <p-tag
              value="{{ 'COMMUNITY.LIST.NON_ACTIVATED' | translate }}"
              severity="danger"
            ></p-tag>
          }
        </td>
        <!-- Join Button -->
        <td class="text-sm px-3 py-2 text-center">
          @if (
            userContextService.activeCommunityId() === community.auth_community_id &&
            community.role >= 1
          ) {
            <p-button
              type="button"
              icon="pi pi-check"
              label="{{ 'COMMUNITY.LIST.UPDATE_COMMUNITY' | translate }}"
              (click)="updateNameCommunity(community)"
            >
            </p-button>
          } @else {
            <div class="flex flex-wrap -mx-2 gap-2">
              @if (userContextService.activeCommunityId() !== community.auth_community_id) {
                <p-button
                  type="button"
                  icon="pi pi-check"
                  label="{{ 'COMMUNITY.LIST.ACTIVATE_BUTTON' | translate }}"
                  (click)="joinCommunity(community)"
                  [pTooltip]="'COMMUNITY.LIST.ACTIVATE_BUTTON_TOOLTIP' | translate"
                >
                </p-button>
              }
              <p-button
                type="button"
                icon="pi pi-cross"
                label="{{ 'COMMUNITY.LIST.LEAVE_BUTTON' | translate }}"
                severity="danger"
                (click)="leaveCommunity($event, community)"
                [pTooltip]="'COMMUNITY.LIST.LEAVE_BUTTON_TOOLTIP' | translate"
              >
              </p-button>
            </div>
            <p-toast />
            <p-confirmDialog />
          }
        </td>
      </tr>
    </ng-template>
    <ng-template #emptyMessage pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center text-base">
          {{ 'COMMUNITY.LIST.NO_COMMUNITY_FOUND' | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
