<div class="container mx-auto my-auto">
  <div class="flex flex-wrap -mx-2 justify-center md:justify-between">
    <app-header-page
      icon="pi pi-briefcase"
      [text]="'COMMUNITY.LIST.TITLE' | translate"
    ></app-header-page>
    <p-button
      type="button"
      label="{{ 'COMMUNITY.LIST.CREATE_COMMUNITY' | translate }}"
      (click)="createCommunity()"
    >
    </p-button>
  </div>
  <p-table
    #dt
    [value]="communities()"
    [lazy]="true"
    (onLazyLoad)="lazyLoadCommunities($event)"
    [rows]="pagination().limit"
    [totalRecords]="pagination().total"
    [first]="firstRow()"
    [showCurrentPageReport]="true"
    (onPage)="pageChange($event)"
    [paginator]="showPaginator()"
    [currentPageReportTemplate]="currentPageReportTemplate()"
  >
    <ng-template #header>
      <tr class="max-lg:hidden">
        <th [pSortableColumn]="'name'" class="text-base px-3">
          {{ 'COMMUNITY.LIST.HEADERS.NAME' | translate }}
          <p-sortIcon [field]="'name'"></p-sortIcon>
        </th>
        <th class="text-base px-3">
          {{ 'COMMUNITY.LIST.HEADERS.ROLE' | translate }}
        </th>
        <th class="text-base px-3 text-center">
          {{ 'COMMUNITY.LIST.HEADERS.ACTIVATE' | translate }}
        </th>
        <th class="text-base px-3 text-center">
          {{ 'COMMUNITY.LIST.HEADERS.ACTIONS' | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-community>
      <tr
        class="grid grid-cols-1 md:grid-cols-3 lg:table-row flex-wrap hover:bg-green-50! border-b-2 cursor-pointer"
      >
        <td class="border-none!">
          <div class="flex flex-col lg:flex-row">
            <span class="visible lg:hidden font-medium">
              {{ 'COMMUNITY.LIST.HEADERS.NAME' | translate }}
            </span>
          </div>
          <span class="text-sm">{{ community.name }}</span>
        </td>
        <td class="border-none!">
          <div class="flex flex-col lg:flex-row">
            <span class="visible lg:hidden font-medium">
              {{ 'COMMUNITY.LIST.HEADERS.ROLE' | translate }}
            </span>
          </div>
          <span class="text-sm">{{ community.role }}</span>
        </td>
        <td class="text-center border-none!">
          <div class="flex flex-col lg:flex-row">
            <span class="visible lg:hidden font-medium">
              {{ 'COMMUNITY.LIST.HEADERS.ACTIVATE' | translate }}
            </span>
          </div>
          @if (userContextService.activeCommunityId() === community.auth_community_id) {
            <p-tag value="{{ 'COMMUNITY.LIST.ACTIVATED' | translate }}" severity="success"></p-tag>
          } @else {
            <p-tag
              value="{{ 'COMMUNITY.LIST.NON_ACTIVATED' | translate }}"
              severity="danger"
            ></p-tag>
          }
        </td>
        <!-- Join Button -->
        <td
          class="text-center! justify-items-center! col-span-1 md:col-span-3 lg:table-cell lg:text-start lg:justify-items-start"
        >
          <div class="flex flex-col lg:flex-row">
            <span class="visible lg:hidden font-medium">
              {{ 'COMMUNITY.LIST.HEADERS.ACTIONS' | translate }}
            </span>
          </div>
          <div class="flex flex-col md:flex-row gap-2">
            @if (
              userContextService.activeCommunityId() === community.auth_community_id &&
              community.role >= 1
            ) {
              <p-button
                type="button"
                icon="pi pi-check"
                label="{{ 'COMMUNITY.LIST.UPDATE_COMMUNITY' | translate }}"
                (click)="updateNameCommunity(community)"
              >
              </p-button>
            } @else {
              @if (userContextService.activeCommunityId() !== community.auth_community_id) {
                <p-button
                  type="button"
                  icon="pi pi-check"
                  label="{{ 'COMMUNITY.LIST.ACTIVATE_BUTTON' | translate }}"
                  (click)="joinCommunity(community)"
                  [pTooltip]="'COMMUNITY.LIST.ACTIVATE_BUTTON_TOOLTIP' | translate"
                >
                </p-button>
              }
              <p-button
                type="button"
                icon="pi pi-cross"
                label="{{ 'COMMUNITY.LIST.LEAVE_BUTTON' | translate }}"
                severity="danger"
                (click)="leaveCommunity($event, community)"
                [pTooltip]="'COMMUNITY.LIST.LEAVE_BUTTON_TOOLTIP' | translate"
              >
              </p-button>
              <p-toast />
              <p-confirmDialog />
            }
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #emptyMessage pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center text-base">
          {{ 'COMMUNITY.LIST.NO_COMMUNITY_FOUND' | translate }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
