<div
  class="sidebar-item"
  [class.sidebar-item--active]="isRouteActive()"
  [class.sidebar-item--collapsed]="!sidebarOpen()"
  [pTooltip]="sidebarOpen() ? '' : name()"
  tooltipPosition="right"
>
  <div
    class="sidebar-item__icon-wrapper"
    [class.sidebar-item__icon-wrapper--active]="isRouteActive()"
  >
    <i class="{{ icon() }}"></i>
  </div>
  @if (sidebarOpen()) {
    <span class="sidebar-item__label">{{ name() }}</span>
    <i
      class="pi pi-chevron-down sidebar-item__chevron"
      [class.sidebar-item__chevron--open]="activeSublist()"
    ></i>
  }
</div>

@if (sidebarOpen() && activeSublist()) {
  <ul class="sidebar-submenu">
    @for (link of links(); let idx = $index; track idx) {
      <li>
        <a routerLink="{{ link.url }}" (click)="closeSideBar()" class="sidebar-submenu__item">
          <i class="{{ link.icon }} sidebar-submenu__icon"></i>
          <span>{{ link.name | translate }}</span>
        </a>
      </li>
    }
  </ul>
}
