<div
  data-testid="sidebar-multi-elements__container"
  class="sidebar-item"
  [class.sidebar-item--active]="isRouteActive()"
  [class.sidebar-item--collapsed]="!sidebarOpen()"
  [pTooltip]="sidebarOpen() ? '' : name()"
  tooltipPosition="right"
>
  <div
    data-testid="sidebar-multi-elements__icon-wrapper"
    class="sidebar-item__icon-wrapper"
    [class.sidebar-item__icon-wrapper--active]="isRouteActive()"
  >
    <i data-testid="sidebar-multi-elements__icon" class="{{ icon() }}"></i>
  </div>
  @if (sidebarOpen()) {
    <span data-testid="sidebar-multi-elements__label" class="sidebar-item__label">{{
      name()
    }}</span>
    <i
      data-testid="sidebar-multi-elements__chevron"
      class="pi pi-chevron-down sidebar-item__chevron"
      [class.sidebar-item__chevron--open]="activeSublist()"
    ></i>
  }
</div>

@if (sidebarOpen() && activeSublist()) {
  <ul data-testid="sidebar-multi-elements__submenu" class="sidebar-submenu">
    @for (link of links(); let idx = $index; track idx) {
      <li [attr.data-testid]="'sidebar-multi-elements__submenu-item--' + idx">
        <a
          [attr.data-testid]="'sidebar-multi-elements__submenu-link--' + idx"
          routerLink="{{ link.url }}"
          (click)="closeSideBar()"
          class="sidebar-submenu__item"
        >
          <i
            [attr.data-testid]="'sidebar-multi-elements__submenu-icon--' + idx"
            class="{{ link.icon }} sidebar-submenu__icon"
          ></i>
          <span [attr.data-testid]="'sidebar-multi-elements__submenu-label--' + idx">{{
            link.name | translate
          }}</span>
        </a>
      </li>
    }
  </ul>
}
