<p-tabs [value]="0">
  <p-tablist>
    <p-tab [value]="0">{{ "COMMUNITY_PENDING_INVITATION.MEMBERS.TITLE" | translate }}</p-tab>
    <p-tab [value]="1">{{ "COMMUNITY_PENDING_INVITATION.MANAGERS.TITLE" | translate }}</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel [value]="0">
      <app-pending-member-invitation></app-pending-member-invitation>
    </p-tabpanel>
    <p-tabpanel [value]="1">
      <app-pending-manager-invitation></app-pending-manager-invitation>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
