<a
  data-testid="sidebar-element__link"
  pRipple
  [routerLink]="routerLinkUrl()"
  (click)="closeSideBar()"
  class="sidebar-item"
  [class.sidebar-item--active]="isRouteActive()"
  [class.sidebar-item--collapsed]="!sidebarOpen()"
  [pTooltip]="sidebarOpen() ? '' : name()"
  tooltipPosition="right"
>
  <div
    data-testid="sidebar-element__icon-wrapper"
    class="sidebar-item__icon-wrapper"
    [class.sidebar-item__icon-wrapper--active]="isRouteActive()"
  >
    <i data-testid="sidebar-element__icon" class="{{ icon() }}"></i>
  </div>
  @if (sidebarOpen()) {
    <span data-testid="sidebar-element__label" class="sidebar-item__label">{{ name() }}</span>
  }
  @if (isRouteActive()) {
    <div
      data-testid="sidebar-element__active-indicator"
      class="sidebar-item__active-indicator"
    ></div>
  }
</a>
