<a
  pRipple
  routerLink="{{ routerLinkUrl() }}"
  (click)="closeSideBar()"
  class="sidebar-item"
  [class.sidebar-item--active]="isRouteActive()"
  [class.sidebar-item--collapsed]="!sidebarOpen()"
  [pTooltip]="sidebarOpen() ? '' : name()"
  tooltipPosition="right"
>
  <div
    class="sidebar-item__icon-wrapper"
    [class.sidebar-item__icon-wrapper--active]="isRouteActive()"
  >
    <i class="{{ icon() }}"></i>
  </div>
  @if (sidebarOpen()) {
    <span class="sidebar-item__label">{{ name() }}</span>
  }
  @if (isRouteActive()) {
    <div class="sidebar-item__active-indicator"></div>
  }
</a>
