<!--<div class="container h-full" [class.h-[550px]]="calendarOpen">-->
<!--  <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()">-->
<!--    <div class="flex flex-wrap -mx-2 text-center pb-3">-->
<!--      <label for="dateStart" class="text-base">{{ "METER.DEACTIVATE.END_DATE_METER_LABEL" | translate }}</label>-->
<!--      <p-date-picker-->
<!--        id="dateStart"-->
<!--        formControlName="date"-->
<!--        [showIcon]="true"-->
<!--        [showOnFocus]="true"-->
<!--        [minDate]="minDate"-->
<!--        [inline]="false"-->
<!--        appendTo="body"-->
<!--        dateFormat="dd/mm/yy"-->
<!--      ></p-date-picker>-->
<!--      <app-error-handler controlName="date" />-->
<!--    </div>-->
<!--    <div class="flex flex-wrap -mx-2 text-center">-->
<!--      <p-button label="{{ 'METER.DEACTIVATE.DELETE_BUTTON_LABEL' | translate }}" type="submit" [class.button_bottom]="calendarOpen"> </p-button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
