<div class="container h-full">
  <form [formGroup]="deleteForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-wrap -mx-2 text-center pb-3">
      <label for="dateStart" class="text-base">
        {{ 'METER.DEACTIVATE.END_DATE_METER_LABEL' | translate }}
      </label>
      <p-date-picker
        id="dateStart"
        formControlName="date"
        [showIcon]="true"
        [showOnFocus]="true"
        [minDate]="minDate"
        [inline]="false"
        appendTo="body"
        dateFormat="dd/mm/yy"
        data-testid="meter-deactivation__datepicker--date"
      ></p-date-picker>
      <app-error-handler controlName="date" />
    </div>
    <div class="flex flex-wrap -mx-2 text-center">
      <p-button
        label="{{ 'METER.DEACTIVATE.DELETE_BUTTON_LABEL' | translate }}"
        type="submit"
        data-testid="meter-deactivation__button--submit"
      >
      </p-button>
    </div>
  </form>
</div>
