name: Notify Monorepo

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Send repository dispatch
        run: |
          curl -X POST \
            -H "Authorization: Bearer ${{ secrets.MONOREPO_TOKEN }}" \
            -H "Accept: application/vnd.github+json" \
            https://api.github.com/repos/OptimCE/deployement/dispatches \
            -d '{
              "event_type": "submodule-updated",
              "client_payload": {
                "repo": "crm-frontend"
              }
            }'
